body {
    width: 100vw;
}

header {
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    position: sticky;
}

header > a {
    color: var(--pico-primary);
    text-decoration: none;
}

header > span {
    color: var(--pico-muted-border-color);
}

main {
    margin-left: 16em;
    margin-right: 16em;
    min-width: 512px;
}

.inline-flex-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}